<div>
    <h1>Monolith Dashboard</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque libero quidem a voluptas, ab ratione reiciendis! Suscipit quasi exercitationem facere, blanditiis accusamus repellendus velit, minus voluptatibus optio aliquam consequatur minima.</p>
    <div class="btn btn-sm btn-dark" href="/dashboard">Go to Dashboard</div>
</div>